$body-tertiary-bg-dark: #071C2E;
$navbar-dark-color: rgba(#FFFFFF, 0.85);
$navbar-dark-hover-color: #FFFFFF;
$navbar-dark-active-color: #FFFFFF;
$navbar-dark-brand-color: #FFFFFF;
$navbar-dark-toggler-border-color: rgba(#FFFFFF, 0.2);
